{% extends 'main.html.twig' %}
{% block title %}{{movie.title}}{% endblock %}

{% block content %}
    <a href="/"><< Назад</a>
    <br>
    <img height="300px" src="{{movie.image}}" alt="{{movie.image}}">
    <h1>{{movie.title}}</h1>
    <h2>Описание:</h2>
    <span>{{movie.description}}</span>
    <br>
    <a href="{{movie.link}}">Источник</a>
{% endblock %}
